<main class="main-home">
  <div class="empty-container"></div>
  <div class="home-container">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <a href="/movies">Check the movies!</a>
  </div>
</main>


